In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import datasets
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc, font_manager

In [2]:
train = pd.read_csv('./FIFA_train.csv')

In [3]:
test = pd.read_csv('./FIFA_test.csv')

In [4]:
train

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,south america,2021,ST,left,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,europe,2020,GK,right,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,south america,2021,ST,right,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,europe,2020,DF,right,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,europe,2021,GK,right,3.0,90,93,1.0,68000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,S. Adewusi,18,africa,2019,MF,right,1.0,48,63,3.0,60000.0
8928,16936,C. Ehlich,19,europe,2020,DF,right,1.0,47,59,2.0,40000.0
8929,16941,N. Fuentes,18,south america,2021,DF,right,1.0,47,64,2.0,50000.0
8930,16942,J. Milli,18,europe,2021,GK,right,1.0,47,65,1.0,50000.0
8931,16948,N. Christoffersson,19,europe,2020,ST,right,1.0,47,63,2.0,60000.0

In [5]:
train['continent'].unique()
#5개로 구성

array(['south america', 'europe', 'africa', 'asia', 'oceania'],
      dtype=object)

In [6]:
train['position'].unique()
#4개로 구성

array(['ST', 'GK', 'DF', 'MF'], dtype=object)

In [7]:
train.isnull().sum()
#결측치가 존재하지않는 완벽한 데이터

id                  0
name                0
age                 0
continent           0
contract_until      0
position            0
prefer_foot         0
reputation          0
stat_overall        0
stat_potential      0
stat_skill_moves    0
value               0
dtype: int64

In [8]:
#선호하는 발을 더미변수로 변환
train['prefer_foot']= pd.get_dummies(train['prefer_foot'])
#왼발이 1

In [9]:
test['prefer_foot']= pd.get_dummies(test['prefer_foot'])

In [10]:
train['prefer_foot'].value_counts()
#선호하는 발이 오른발인 선수가 훨씬 많다

0    6837
1    2095
Name: prefer_foot, dtype: int64

In [11]:
train

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,south america,2021,ST,1,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,europe,2020,GK,0,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,south america,2021,ST,0,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,europe,2020,DF,0,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,europe,2021,GK,0,3.0,90,93,1.0,68000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,S. Adewusi,18,africa,2019,MF,0,1.0,48,63,3.0,60000.0
8928,16936,C. Ehlich,19,europe,2020,DF,0,1.0,47,59,2.0,40000.0
8929,16941,N. Fuentes,18,south america,2021,DF,0,1.0,47,64,2.0,50000.0
8930,16942,J. Milli,18,europe,2021,GK,0,1.0,47,65,1.0,50000.0
8931,16948,N. Christoffersson,19,europe,2020,ST,0,1.0,47,63,2.0,60000.0

#### 포지션 맵핑

In [12]:
name_mapping = {'ST': '1',"MF" : '2', 'DF' :'3','GK' : '4'}

In [13]:
name_mapping

{'ST': '1', 'MF': '2', 'DF': '3', 'GK': '4'}

In [14]:
position = lambda x: name_mapping.get(x,x)

In [15]:
train['position']=train.position.map(position)

In [16]:
test['position']=test.position.map(position)

In [17]:
train

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,south america,2021,1,1,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,europe,2020,4,0,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,south america,2021,1,0,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,europe,2020,3,0,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,europe,2021,4,0,3.0,90,93,1.0,68000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,S. Adewusi,18,africa,2019,2,0,1.0,48,63,3.0,60000.0
8928,16936,C. Ehlich,19,europe,2020,3,0,1.0,47,59,2.0,40000.0
8929,16941,N. Fuentes,18,south america,2021,3,0,1.0,47,64,2.0,50000.0
8930,16942,J. Milli,18,europe,2021,4,0,1.0,47,65,1.0,50000.0
8931,16948,N. Christoffersson,19,europe,2020,1,0,1.0,47,63,2.0,60000.0

In [18]:
test

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves
0,1,Cristiano Ronaldo,33,europe,2022,1,0,5.0,94,94,5.0
1,2,Neymar Jr,26,south america,2022,1,0,5.0,92,93,5.0
2,4,K. De Bruyne,27,europe,2023,2,0,4.0,91,92,4.0
3,5,E. Hazard,27,europe,2020,1,0,4.0,91,91,4.0
4,6,L. Modrić,32,europe,2020,2,0,4.0,91,91,4.0
...,...,...,...,...,...,...,...,...,...,...,...
3823,16924,R. Takae,20,asia,2021,2,0,1.0,48,63,2.0
3824,16929,L. Wahlstedt,18,europe,2018,4,0,1.0,48,65,1.0
3825,16932,Y. Góez,18,south america,2021,2,0,1.0,48,65,2.0
3826,16937,A. Kaltner,18,europe,2020,1,0,1.0,47,61,2.0
3827,16943,K. Fujikawa,19,asia,2021,2,0,1.0,47,61,2.0

#### 나라 맵핑

In [19]:
train['continent'].unique()

array(['south america', 'europe', 'africa', 'asia', 'oceania'],
      dtype=object)

In [20]:
name_mapping1 = {'europe': '1',"africa" : '2', 'asia' :'3','oceania' : '4', 'south america' :'5'}

In [21]:
continent = lambda x: name_mapping1.get(x,x)

In [22]:
train['continent']=train.continent.map(continent)

In [23]:
test['continent']=test.continent.map(continent)

In [24]:
train

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,5,2021,1,1,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,1,2020,4,0,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,5,2021,1,0,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,1,2020,3,0,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,1,2021,4,0,3.0,90,93,1.0,68000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,S. Adewusi,18,2,2019,2,0,1.0,48,63,3.0,60000.0
8928,16936,C. Ehlich,19,1,2020,3,0,1.0,47,59,2.0,40000.0
8929,16941,N. Fuentes,18,5,2021,3,0,1.0,47,64,2.0,50000.0
8930,16942,J. Milli,18,1,2021,4,0,1.0,47,65,1.0,50000.0
8931,16948,N. Christoffersson,19,1,2020,1,0,1.0,47,63,2.0,60000.0

In [25]:
test

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves
0,1,Cristiano Ronaldo,33,1,2022,1,0,5.0,94,94,5.0
1,2,Neymar Jr,26,5,2022,1,0,5.0,92,93,5.0
2,4,K. De Bruyne,27,1,2023,2,0,4.0,91,92,4.0
3,5,E. Hazard,27,1,2020,1,0,4.0,91,91,4.0
4,6,L. Modrić,32,1,2020,2,0,4.0,91,91,4.0
...,...,...,...,...,...,...,...,...,...,...,...
3823,16924,R. Takae,20,3,2021,2,0,1.0,48,63,2.0
3824,16929,L. Wahlstedt,18,1,2018,4,0,1.0,48,65,1.0
3825,16932,Y. Góez,18,5,2021,2,0,1.0,48,65,2.0
3826,16937,A. Kaltner,18,1,2020,1,0,1.0,47,61,2.0
3827,16943,K. Fujikawa,19,3,2021,2,0,1.0,47,61,2.0

### 전부 숫자로 변경

In [26]:
train['contract_until'].value_counts()
#년단위가 아니라 월일 단위까지도 포함되어 있음

2019            2366
2021            2308
2020            2041
2022             761
2023             506
Jun 30, 2019     501
2018             327
Dec 31, 2018      64
May 31, 2019      19
2024              12
Jan 31, 2019      10
Jun 30, 2020       9
2025               3
Jan 1, 2019        2
May 31, 2020       1
2026               1
Jan 12, 2019       1
Name: contract_until, dtype: int64

In [27]:
train['contract_until'] = pd.to_datetime(train['contract_until'])
train['contract_until'] = train['contract_until'].dt.year
#년만 추출

In [28]:
test['contract_until'] = pd.to_datetime(test['contract_until'])
test['contract_until'] = test['contract_until'].dt.year

In [29]:
train['contract_until'].unique()

array([2021, 2020, 2019, 2023, 2022, 2024, 2026, 2018, 2025])

In [30]:
test['contract_until'].unique()

array([2022, 2023, 2020, 2021, 2019, 2025, 2024, 2018, 2026])

In [31]:
train

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves,value
0,0,L. Messi,31,5,2021,1,1,5.0,94,94,4.0,110500000.0
1,3,De Gea,27,1,2020,4,0,4.0,91,93,1.0,72000000.0
2,7,L. Suárez,31,5,2021,1,0,5.0,91,91,3.0,80000000.0
3,8,Sergio Ramos,32,1,2020,3,0,4.0,91,91,3.0,51000000.0
4,9,J. Oblak,25,1,2021,4,0,3.0,90,93,1.0,68000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,S. Adewusi,18,2,2019,2,0,1.0,48,63,3.0,60000.0
8928,16936,C. Ehlich,19,1,2020,3,0,1.0,47,59,2.0,40000.0
8929,16941,N. Fuentes,18,5,2021,3,0,1.0,47,64,2.0,50000.0
8930,16942,J. Milli,18,1,2021,4,0,1.0,47,65,1.0,50000.0
8931,16948,N. Christoffersson,19,1,2020,1,0,1.0,47,63,2.0,60000.0

#### 분석에 필요없는 컬럼(name)삭제

In [32]:
train['name']=train.drop('name', axis=1)
test['name']=test.drop('name', axis=1)

In [33]:
train.info()
#object인 continent,position을 int로 변경

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8932 entries, 0 to 8931
Data columns (total 12 columns):
id                  8932 non-null int64
name                8932 non-null object
age                 8932 non-null int64
continent           8932 non-null object
contract_until      8932 non-null int64
position            8932 non-null object
prefer_foot         8932 non-null uint8
reputation          8932 non-null float64
stat_overall        8932 non-null int64
stat_potential      8932 non-null int64
stat_skill_moves    8932 non-null float64
value               8932 non-null float64
dtypes: float64(3), int64(5), object(3), uint8(1)
memory usage: 776.4+ KB

In [34]:
train['position']=train['position'].astype(int)
train['continent']=train['continent'].astype(int)

In [35]:
test['position']=test['position'].astype(int)
test['continent']=test['continent'].astype(int)

In [36]:
test

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves
0,1,1,33,1,2022,1,0,5.0,94,94,5.0
1,2,2,26,5,2022,1,0,5.0,92,93,5.0
2,4,4,27,1,2023,2,0,4.0,91,92,4.0
3,5,5,27,1,2020,1,0,4.0,91,91,4.0
4,6,6,32,1,2020,2,0,4.0,91,91,4.0
...,...,...,...,...,...,...,...,...,...,...,...
3823,16924,16924,20,3,2021,2,0,1.0,48,63,2.0
3824,16929,16929,18,1,2018,4,0,1.0,48,65,1.0
3825,16932,16932,18,5,2021,2,0,1.0,48,65,2.0
3826,16937,16937,18,1,2020,1,0,1.0,47,61,2.0
3827,16943,16943,19,3,2021,2,0,1.0,47,61,2.0

### 0과1사이로 정규화

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
train1=train.copy()
train1[:]=scaler.fit_transform(train1[:])

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
test1=test.copy()
test1[:]=scaler.fit_transform(test1[:])

### Random Forest

In [37]:
from sklearn.ensemble import RandomForestRegressor

In [44]:
test_X=test

In [40]:
train_X = train.drop(columns=['value'])
train_y = train['value']

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=100) 
rf.fit(train_X,train_y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [41]:
from sklearn.model_selection import GridSearchCV

params = { 'n_estimators' : [10, 100],
           'max_depth' : [6, 8, 10, 12],
           'min_samples_leaf' : [8, 12, 18],
           'min_samples_split' : [8, 16, 20]
            }

# RandomForestClassifier 객체 생성 후 GridSearchCV 수행
rf_clf = RandomForestRegressor(random_state = 0, n_jobs = -1)
grid_cv = GridSearchCV(rf_clf, param_grid = params, cv = 3, n_jobs = -1)
grid_cv.fit(train_X, train_y)

print('최적 하이퍼 파라미터: ', grid_cv.best_params_)
print('최고 예측 정확도: {:.4f}'.format(grid_cv.best_score_))

최적 하이퍼 파라미터:  {'max_depth': 12, 'min_samples_leaf': 8, 'min_samples_split': 8, 'n_estimators': 100}
최고 예측 정확도: -0.5616

In [45]:
rf_clf1 = RandomForestRegressor(n_estimators = 500, 
                                max_depth = 12,
                                min_samples_leaf = 8,
                                min_samples_split = 8,
                                random_state = 0,
                                n_jobs = -1)
rf_clf1.fit(train_X,train_y)
pred = rf_clf1.predict(test_X)

In [46]:
train_X

,id,name,age,continent,contract_until,position,prefer_foot,reputation,stat_overall,stat_potential,stat_skill_moves
0,0,0,31,5,2021,1,1,5.0,94,94,4.0
1,3,3,27,1,2020,4,0,4.0,91,93,1.0
2,7,7,31,5,2021,1,0,5.0,91,91,3.0
3,8,8,32,1,2020,3,0,4.0,91,91,3.0
4,9,9,25,1,2021,4,0,3.0,90,93,1.0
...,...,...,...,...,...,...,...,...,...,...,...
8927,16925,16925,18,2,2019,2,0,1.0,48,63,3.0
8928,16936,16936,19,1,2020,3,0,1.0,47,59,2.0
8929,16941,16941,18,5,2021,3,0,1.0,47,64,2.0
8930,16942,16942,18,1,2021,4,0,1.0,47,65,1.0
8931,16948,16948,19,1,2020,1,0,1.0,47,63,2.0

In [47]:
train_y

0       110500000.0
1        72000000.0
2        80000000.0
3        51000000.0
4        68000000.0
           ...
8927        60000.0
8928        40000.0
8929        50000.0
8930        50000.0
8931        60000.0
Name: value, Length: 8932, dtype: float64

In [4]:
submission = pd.DataFrame({
    "ID": test['id'],
    "value": pred
})

submission.to_csv('foot ball submission2.csv', index=False)

NameError: name 'test' is not defined

## ================================================================

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state=10)
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

6252
2680
6252
2680

train=train
test=test

Y_train=train['value']
x_train=train.drop('value',axis=1)

Y_test=test['value']
x_test=test.drop('value',axis=1)

In [48]:
pred=rf.predict(X_test)
real=y_test

In [50]:
from sklearn.metrics import mean_squared_error
mean_squared_error(real,pred)**0.5

0.0020981508421616885

In [51]:
train.columns

Index(['age', 'continent', 'contract_until', 'position', 'prefer_foot',
       'reputation', 'stat_overall', 'stat_potential', 'stat_skill_moves',
       'value'],
      dtype='object')

In [61]:
mean_squared_error(real,pred,sample_weight=X_test['reputation'])**0.5

0.007466125473840576

In [62]:
mean_squared_error(real,pred,sample_weight=X_test['prefer_foot'])**0.5

0.0019090551373709978

### light gbm